Name ,            splunk_version, Splunk_Staus,      Flexera_Version, Flexera_Status,     Qualys_Version, Qualys_Status,        Cylance_Version, Cylance_Status
{% for i in play_hosts %}
{{ i }} , {{ hostvars[i].ansible_hostname }}  ,        {{ hostvars[i].response.stdout.split(" ")[3] }} , {{ hostvars[i].service.ansible_facts.services["splunk.service"].state }}    ,       {{ hostvars[i].package.ansible_facts.packages.managesoft[0].version }},  {{ hostvars[i].service.ansible_facts.services["ndtask.service"].state }}    ,       {{ hostvars[i].package.ansible_facts.packages["qualys-cloud-agent"][0].version }},  {{ hostvars[i].service.ansible_facts.services["qualys-cloud-agent.service"].state }}   ,            {{ hostvars[i].package.ansible_facts.packages["CylancePROTECT"][0].version }} ,  {{ hostvars[i].service.ansible_facts.services["cylancesvc.service"].state }}
{% endfor %}
